<%= form_for [@test, @question] do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :question_text %><br/>
      <%= f.cktext_area :question_text, :ckeditor => {:toolbar => 'mini'} %>
    </div>
    <div>
      <%= f.label :point %><br/>
      <%= f.number_field :point, value: 1, min: 1, max: 10 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
