<h1><%= @test.title %></h1>
<%= form_tag(test_submission_path(@test, @submission), method: :put) do %>
    <ol type="1">
      <% @test.questions.each do |question| %>
          <li><%= raw(question.question_text) %>
            <ol type="A">
              <% question.answers.each do |answer| %>
                  <li>
                    <%= check_box_tag "submission[#{answer.id}]", true %> <%= raw(answer.description) %>
                  </li>
              <% end %>
            </ol>
          </li>
      <% end %>
    </ol>
    <%= submit_tag %>
<% end %>