
<h1>Listing Tests</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Length</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% current_user.tests.each do |test| %>
      <tr>
        <td><%= test.User %></td>
        <td><%= test.title %></td>
        <td><%= test.description %></td>
        <td><%= test.length %></td>
        <td><%= link_to 'Show', test %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test', new_test_path %>
