<%= render 'show' %>
<% if current_user == @test.User %>
    <%= button_to 'Edit Test', edit_test_path(@test), method: :get %>
    <%= button_to 'Add Question', new_test_question_path(@test), method: :get %>
    <ol type="1">
      <% @test.questions.each do |question| %>
          <li>
            <div class="question" id="<%= question.id %> ">
              <%= raw(question[:question_text]) %>
              <%= button_to 'Edit question', edit_test_question_path(@test, question), method: "get" %>
              <%= button_to "Add Answer", new_test_question_answer_path(@test, question), method: "get" %>
              <ol type="A">
                <% question.answers.each do |answer| %>
                    <div class="answer" id="<%= answer.id %>">
                      <li class="text-<%= answer[:correct] ? 'success' : 'danger' %>">
                        <%= raw(answer[:description]) %>
                        <%= button_to 'Edit answer', edit_test_question_answer_path(@test, question, answer), method: "get" %>
                      </li>
                    </div>
                <% end %>
              </ol>

            </div>
          </li>
      <% end %>
    </ol>
    <%= button_to "Done", done_test_path(@test), method: "get" %>
<% end %>

